/** General **/
header{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #aeaeae;
	font-weight: 700;
	letter-spacing: 0.6em;
	margin: 2em 0.2em;
	padding-left: 10px;
	padding-right: 25px;
	padding-top: 4px;
	padding-bottom: 1px;
	border-radius: 5px;
	text-align: center;
}

body{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin: 0 auto 1em auto;
	background-color: #000000;
	background-image:url('../images/footer_lodyas.png');
}

.center{
	text-align: center;
}

